<md-list md-whiteframe="3" layout-fill>
    <md-list-item class="md-2-line" ui-sref="root.calendar">
        <div class="md-list-item-text">
            <h3>Calendar</h3>
            <p>Plan your week</p>
        </div>
    </md-list-item>
    <md-list-item class="md-2-line" ui-sref="root.recipes">
        <div class="md-list-item-text">
            <h3>Recipes</h3>
            <p>Find one or create your own</p>
        </div>
    </md-list-item>
    <md-list-item class="md-2-line" ui-sref="root.ingredients">
        <div class="md-list-item-text">
            <h3>Ingredients</h3>
            <p>Add some more vegetables ;)</p>
        </div>
    </md-list-item>
</md-list>